*
!public/
!public/groups/covers
!public/pages/avatar
!public/pages/covers
!public/thumbnails
!public/users/avatars
!public/users/covers
!.gitignore
!.htaccess
!favicon.ico
!index.php
!robots.txt
!web.config