*
!public/
!public/groups/covers/default.jpg
!public/pages/avatar/default.jpg
!public/pages/covers/default.jpg
!public/thumbnails/default.jpg
!public/users/avatars/default.jpg
!public/users/covers/default.jpg
!.gitignore
!.htaccess
!favicon.ico
!index.php
!robots.txt
!web.config